#Turning PROXMOX On
function proxmox-on(){

  echo <password> | sudo -S wakeonlan <MAC Address for Proxmox Server>

  }


#Opening PROXMOX Dashboard
function proxmox-dashboard(){

  open https://<IPv4 Address:Port/>

  }
